<!DOCTYPE html>
<html>
  <body>
    <form action = "/posts" method = "POST">
      name: <input type = "text" name = "name" id = "name"><br>
      content: <textarea name = "content" id ="content"></textarea><br>
      <button type = "submit">submit</button>
    </form>
  </body>
</html>
